<a href="https://colab.research.google.com/github/Katla-Adithya/html-portfolio/blob/main/lecture7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
print(id(a))

140092862530064

In [2]:
b=10
print(id(b))

140092862530064

In [5]:
l= ['xyz', 20, 19, True]
print(l[0])
print(l[1])
print(type(l))
l[0]='zzz'
print(l)

xyz
20
<class 'list'>
['zzz', 20, 19, True]

In [9]:
t = ("xyz", 20 , 1.9 , True)
print(t[0])
print(t[1])
print(type(t))

xyz
20
<class 'tuple'>

In [19]:
thisdict = {
    "name" : 'xyz',
    "age" : 22,
    "1 "  :2

}
print(thisdict)
thisdict["name"] = 'zzz'
print(thisdict)
thisdict['color'] = 'grey'
print(thisdict)

{'name': 'xyz', 'age': 22, '1 ': 2}
{'name': 'zzz', 'age': 22, '1 ': 2}
{'name': 'zzz', 'age': 22, '1 ': 2, 'color': 'grey'}

In [21]:
myset={"apple","banana","cherry"}
print(myset)
myset.add("orange")

{'apple', 'cherry', 'banana'}

In [23]:
myset=frozenset((1991 , 'xyz',78.56))
print(myset)

frozenset({78.56, 'xyz', 1991})

# New Section

# New Section